.components__accordion-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-small);

  padding: var(--spacing-medium);
}

.components__accordion-description-container {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-small);
  padding: var(--spacing-medium);
}

.components__accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.components__accordion-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: var(--spacing-small);
  background-color: var(--tertiary-color);
}

.components__accordion-toggle-button {
  border: none;
  background-color: transparent;
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.components__accordion-toggle-button--active {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.components__accordion-content {
  width: 100%;
  border: 1px solid black;
  padding: var(--spacing-small);
  line-height: 1.6;
}

.components__accordion-content-container {
  visibility: hidden;
}

.components__accordion-content-container--active {
  width: 50%;
  visibility: visible;
  background-color: gray;
}
