.components__alerts-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-small);
}

.components__alert-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  padding: var(--spacing-small) var(--spacing-large);
}

.components__alert {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small) var(--spacing-medium);
  border: 1px solid black;
}

/* alerts button styling */
.components__alert-button {
  cursor: pointer;
  font-size: var(--font-size-large);
}

.components__alert-button:hover {
  color: var(--text-color-light);
}

/* styling alert in different states */
.components__success-alert {
  background-color: var(--color-succsess);
  font-size: var(--font-size-medium);
}

.components__warning-alert {
  background-color: var(--color-warning);
  font-size: var(--font-size-medium);
  color: black;
}

.components__error-alert {
  background-color: var(--color-error);
  font-size: var(--font-size-medium);
  color: black;
}

.components__info-alert {
  background-color: var(--color-info);
  font-size: var(--font-size-medium);
  color: black;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
