.components__button-container {
  display: flex;
  justify-content: space-evenly;
  padding: var(--spacing-medium);
}

.components__button {
  width: 90px;
  height: 50px;
  padding: var(--spacing-) var(--spacing-xlarge);
  font-size: var(--font-size-medium);
  border-radius: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.components__button--hover {
  transition: background-color 0.5s linear, box-shadow 0.5s linear;
}

.components__button--hover:hover {
  background-color: var(--hover-color);
  box-shadow: rgba(255, 255, 255, 0.389) 0px 5px 10px;
  transition: background-color 0.5s linear, box-shadow 0.5s linear;
}

.components__button--disabled {
  cursor: not-allowed;
}

.components__button--active:active {
  background-color: var(--hover-color);
}
