@font-face {
  font-family: "Roboto-Regular";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Regular";
  src: url(../assets/fonts/Rubik-Regular.ttf);
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto-Regular", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background-color: var(--tertiary-color);
}

main {
  width: 100%;
  height: 80vh;
  /* background-color: var(--secondary-color); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.components {
  padding: var(--spacing-medium) var(--spacing-small);
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-small);
}

.components__list-container {
  flex-basis: 25%;
}

.components__container-wraper {
  flex-grow: 1;
  color: var(--text-color-dark);
}

.components__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xsmall);
}

.components__list-btn {
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  font-size: var(--font-size-medium);
  font-weight: 600;
  padding: var(--spacing-xsmall);
  background-color: var(--primary-color);
  transition: background-color 0.5s linear;
}

.components__list-btn:hover {
  background-color: var(--hover-color);
  transition: background-color 0.5s linear;
}

.components__container {
  /* display: none; */
}

.components__container--active {
  display: block;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--spacing-medium);
}
