/* IMPORTING FONT FAMILY */
@font-face {
  font-family: "Roboto-Regular";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto-Regular", Verdana, Geneva, Tahoma, sans-serif;
}
/* STYLING FOR HEADER */
header {
  width: 100%;
  height: 10vh;
  background-color: var(--secondary-color);
  color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* DISPLAYING CONTENT */
main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.components {
  padding: var(--spacing-medium) var(--spacing-small);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-small);
}

.components__list-container {
  flex-basis: 25%;
}

.components__containers {
  flex-basis: 75%;
  color: var(--text-color-dark);
}

/* STYLING LIST BUTTONS */
.components__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xsmall);
}

.components__list-btn {
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  font-size: var(--font-size-medium);
  font-weight: 600;
  padding: var(--spacing-xsmall);
  background-color: var(--primary-color);
  transition: background-color 0.3s linear;
}

.components__list-btn:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s linear;
}

.components__list-btn--active {
  background-color: var(--color-info);
}

/* HIDING COMPOENTS */
.components__container {
  display: none !important;
}

/* SHOWING CORRECT COMPOENTS WHEN USER CLICK ON ONE OF THE LIST BUTTONS */
.components__container--active {
  display: block !important;
}

/* FOOTER STYLING */
footer {
  background-color: var(--secondary-color);
  height: 5vh;
}
footer p {
  text-align: center;
  color: var(--primary-color);
}
