/* DISPLAYING THE CONTENT */
.components__tooltips {
  width: 100%;
  height: 20%;
}

.components__tooltip-container {
  height: 200%;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  padding: var(--spacing-small) var(--spacing-large);
}

/* STYLING FOR DESCRIPTION OF COMPONENT */
.components__tooltip-title,
.components__tooltip-descripton {
  padding: var(--spacing-small) var(--spacing-medium);
  line-height: 1.6;
}

/* STYLING TOOLTIP */
.components__tooltip {
  text-align: center;
  padding: var(--spacing-small) var(--spacing-medium);
  position: relative;
}

/* CENTERING TOOLTIP BUTTON */
.components__tooltip-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* STYLING TOOLTIP BUTTON */
.components__tooltip-button {
  width: var(--spacing-xxlarge);
  height: var(--spacing-large);
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  font-size: var(--font-size-medium);
  border: 1px solid var(--text-color-dark);
  position: relative;
}

/* STYLING TOOLTIP ELEMENT */
.components__tooltip .components__tooltip-text,
.components__tooltip-button .components__tooltip-text {
  visibility: hidden;
  width: 10rem;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  text-align: center;
  border-radius: 5px;
  padding: var(--spacing-xsmall) 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -5rem;
}

/* ADDING ARROW TO TOOLTIP ELENENT  */
.components__tooltip .components__tooltip-text::after,
.components__tooltip-button .components__tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: transparent transparent var(--secondary-color) transparent;
}

/* MAKE TOOLTIP ELEMENT SHOW WHEN TEXT IS HOVERED */
.components__tooltip:hover .components__tooltip-text {
  visibility: visible;
}

/* MAKING TOOLTOP ELEMENT SHOW WHEN BUTTON IS CLICKED/FOCUS */
.components__tooltip-button:focus .components__tooltip-text {
  visibility: visible;
}
