:root {
  --primary-color: #fbfbff;
  --secondary-color: #03256c;
  --tertiary-color: #01baef;
  --quaternary-color: ;

  --text-color-light: #f8f8f8;
  --text-color-dark: #353831;
  --text-color-drark-gray: #1d1e18;

  --hover-color: #70cad1;

  --alert-color: #e63b2e;

  --spacing-xsmall: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;
  --spacing-xlarge: 4rem;
  --spacing-xxlarge: 6rem;

  --font-size-xsmall: 0.5rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
}
